{% extends 'base.html' %}
{% block content %}
<div style="text-align: center; margin-bottom: 15px;">

        {% if link %}
            <div class="alert alert-dark">
                <h3> Share link : <a href="{{ link }}" target="_blank">{{ link }}</a></h3>
                <b>Decryption Key: </b> {{ decryptKey }} <br/>
            </div>
        {% endif %}
    <br /> <br />

    <h3 class="h3-settings">Send notes that are Fernet encrypted and will self-destroy after reading.</h3>
    <br /><br />
    <p class="text-muted">
        <b>What is Fernet?</b> <br />
        Fernet is a symmetric encryption method which makes sure that the message encrypted cannot be manipulated/read without the key. It uses URL safe encoding for the keys. Fernet also uses 128-bit AES in CBC mode and PKCS7 padding, with HMAC using SHA256 for authentication.
    </p>
    <br /> <br />




</div>

<form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <textarea placeholder="Write safely here" required name="text" id="textToEncrypt" cols="20" rows="10" class="form-control textarea-settings"></textarea>
        <div style="text-align: center;">
            <br />
            <button type="submit" class="btn btn-dark">Create</button>
        </div>

    </div>

</form>
{% endblock %}